.backGroundColor{
	-fx-background-color: linear-gradient(#33ccff, #99ffcc);
	}
.custom-menu-button .menu-item {
    -fx-font-size: 30.0;
}

.custom-menu-button .menu-item:hover {
     -fx-background-color: #159991;
     -fx-text-fill: white;
    
}

.my-table .table-cell{
    -fx-alignment: CENTER;
    -fx-font-size:14.0px;
}
.my-table .column-header, .my-table .column-header-background {
    -fx-background-color: #159991;
    -fx-text-fill: white;
    -fx-font-size:16.0px;
    -fx-font-weight:bold;
}

.my-table .column-header .label {
    -fx-alignment: CENTER;
}

.my-table .row-cell:odd {
    -fx-background-color: #f4f4f4;
}

.round-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.round-button .image-view {
    -fx-clip-shape: circle;
}