.backGroundColor{
	-fx-background-color: linear-gradient(#33ccff, #99ffcc);
	}
.custom-menu-button .menu-item {
    -fx-font-size: 30.0;

}

.custom-menu-button .menu-item:hover {
     -fx-background-color: #159991;
     -fx-text-fill: white;
    
}

.my-table {
    -fx-alignment: CENTER;
}
.my-table .column-header, .my-table .column-header-background {
    -fx-background-color: #159991;
    -fx-text-fill: white;
}

.my-table .column-header .label {
    -fx-alignment: CENTER;
}

.my-table .row-cell:odd {
    -fx-background-color: #f4f4f4;
}